<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
	<div class="container contentContainer" style="display: none;">
		<div id="profileRow" class="row" style="">
			<img class="profilePicture" src="<%= user.profilePic %>">
			<div id="profileBox">
				<h1 id="profileUsername"><%= user.username %></h1>
				<h4><%= user.firstName %> <%= user.lastName %></h3>
			</div>
		</div>
		<div class="row profilePlaylistContainer">
			<h3><%= user.username %>'s Playlists</h3>
		</div>
		<div class="row profilePlaylistContainer">
			<ul>
				<h2 class="profile-playlist-name">Comedy</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "comedy") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			<ul>
				<h2 class="profile-playlist-name">Music</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "music") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			<ul>
				<h2 class="profile-playlist-name">Educational</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "educational") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			</div>
			<div class="row profilePlaylistContainer">
			<ul>
				<h2 class="profile-playlist-name">Cute</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "cute") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			<ul>
				<h2 class="profile-playlist-name">Bizarre</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "bizarre") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			<ul>
				<h2 class="profile-playlist-name">Cooking</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "cooking") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			</div>
			<div class="row profilePlaylistContainer">
			<ul>
				<h2 class="profile-playlist-name">Reviews</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "reviews") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
			<ul>
				<h2 class="profile-playlist-name">Documentaries</h2>
				<% user.playlists.forEach((playlist)=>{ %>
					<% if (playlist.type === "documentary") { %>
						<li>
							<a class="playlistProfileTitle transition" href="/playlists/<%= playlist._id %>"><%= playlist.title %></a><br>
							<% if (session.username === user.username){ %>
								<a class="transition" href="/playlists/add/<%= playlist._id %>">Edit</a> ---
								<a class="transition" href="/playlists/<%= playlist._id %>?_method=DELETE">Delete</a>
							<% } %>
						</li>
					<% } %>
				<% }) %>
			</ul>
		</div>
	</div>
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
</body>
</html>