<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body style="padding-top: 55px;">
	<header>
		<% include ../../partials/header %>
	</header>
	<main class="contentContainer">
		<div class="category-list">
			<section class="category" style="background-image: url('/images/comedy.jpg');">
				<h2 class="category-name">Comedy</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "comedy") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/concert.jpg');">
				<h2 class="category-name">Music</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "music") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/educational.jpg');">
				<h2 class="category-name">Educational</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "educational") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/cute.jpg');">
				<h2 class="category-name">Cute</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "cute") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
		</div>
		<div class="category-list">
			<section class="category" style="background-image: url('/images/bizarre.png');">
				<h2 class="category-name">Bizarre</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "bizarre") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/cooking.jpg');">
				<h2 class="category-name">Cooking</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "cooking") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/reviews.png');">
				<h2 class="category-name">Reviews</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "reviews") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
			<section class="category" style="background-image: url('/images/documentary.jpg');">
				<h2 class="category-name">Documentaries</h2>
				<ul class="playlist-list">
					<% playlists.forEach((playlist)=>{ %>
						<% if (playlist.type === "documentary") { %>
							<li><a href="/playlists/<%= playlist._id %>"><%= playlist.title %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</section>
		</div>
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
</body>
</html>